<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/c9f6db54-ea6b-43d6-ae18-aba54d6ba558/resourcegroups/SportsStoreCore/providers/Microsoft.ContainerRegistry/registries/SportsStoreCore</ResourceId>
    <ResourceName>SportsStoreCore</ResourceName>
    <ResourceGroup>SportsStoreCore</ResourceGroup>
    <Subscription>Visual Studio Professional bei MSDN</Subscription>
    <RegistryUrl>https://sportsstorecore.azurecr.io/</RegistryUrl>
    <UserName>SportsStoreCore</UserName>
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>3dbf3154-bc1b-4298-baa1-98c454369fe7</ProjectGuid>
  </PropertyGroup>
</Project>